#breadcrumbs {
    padding-left: 20px;
    list-style: none;
    display: inline;
    font-size: 18px;
    border-radius: 5px;
}
#breadcrumbs a {
    color: #6c6f7f;
    text-decoration: none;
}
#breadcrumbs a:hover {
    text-decoration: underline;
}
body{
    background-color: ghostwhite;
}
#card {
    width: 18rem;
}
.component-width {
    width: 60rem;
}
@media only screen and (max-width: 983px) {
    .component-width {
        width: 50rem;
    }
}
@media only screen and (max-width: 847px) {
    .component-width {
        width: 40rem;
    }
}
@media only screen and (max-width: 762px) {
    .component-width {
        width: 30rem;
    }
}
#footer{
    justify-content: space-evenly;
}
input[type=checkbox][disabled] {
    background-color: darkblue;
    color: darkblue;
    border-color: firebrick;
}