#breadcrumbs {
    padding-left: 20px;
    list-style: none;
    display: inline;
    font-size: 18px;
    border-radius: 5px;
}
#breadcrumbs a {
    color: #6c6f7f;
    text-decoration: none;
}
#breadcrumbs a:hover {
    text-decoration: underline;
}
body{
    background-color: ghostwhite;
}